body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #336699, #66aadd);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    min-height: 100vh;
    /* Define a altura mínima como 100% da altura da viewport */
}

.container-box {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px;
}

.content-box {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

input,
button {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
}

button {
    cursor: pointer;
}

p {
    margin-top: 10px;
    font-weight: bold;
}